.nom,
.fonction,
.secteur,
.statut,
.soustitre{
    font-family: "Oswald", sans-serif;
}

.nom{
    font-size: 3em;
}

.fonction,
.secteur,
.statut{
    font-size: 2em;
}

.soustitre{
    font-size:1.8em;
    font-weight: 300;
    text-align : center;
}

li{
    font-family: "Pompiere", sans-serif;
}

.entete{
    display: flex;
    flex-direction: row;
    flex-wrap:none;
    align-content: stretch;
    align-items: center;
    justify-content: center;
}

.entete1{
    text-align:  center;
    justify-content: center;
    width:50%;
}

#entetelogo{
    height : 150px;
    width:auto;
}

#entetephoto{
    height : 250px;
    width:auto;
}